.homepage {
  background: url("/images/temple_hero.png") center center no-repeat;
  background-size: cover;
  height: 100vh;

  img {
    position: absolute;
    left: 3rem;
    top: 3rem;
    width: 10rem;
  }
}