.page-contents {
  position: relative;
  width: calc(100vw - 48px); }
  .page-contents h1, .page-contents h2, .page-contents h3, .page-contents h4, .page-contents h5, .page-contents p {
    font-family: Arial;
    color: #212B36; }
  .page-contents h1 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 1rem; }
  .page-contents h2 {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem; }
  .page-contents a {
    color: #007ACE !important;
    font-size: .75rem; }
    .page-contents a:hover {
      cursor: pointer; }
  .page-contents input {
    height: 36px;
    border: solid 1px #C4CDD5;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(102, 113, 123, 0.2), inset 0 1px 2px 0 rgba(102, 113, 123, 0.21); }
  .page-contents .lgim-button {
    color: white;
    background: linear-gradient(#0099CC, #005B7A);
    border: solid 1px #005B7A;
    border-radius: 3px;
    padding: 8px 17px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06); }
    .page-contents .lgim-button:hover {
      cursor: pointer; }
    .page-contents .lgim-button:active {
      background: #005B7A !important;
      background-color: #005B7A !important;
      border-color: #002D3C !important;
      box-shadow: inset 0 2px 1px 0 rgba(32, 46, 120, 0.54) !important; }
    .page-contents .lgim-button:focus {
      box-shadow: 0 0 0 0;
      outline: none !important; }
    .page-contents .lgim-button:hover {
      background: linear-gradient(#005B7A, #002D3C);
      border-color: #3E4BB1; }

body {
  display: flex; }

nav {
  height: 100vh;
  width: 3rem;
  background: #2A2A2A; }

.homepage {
  background: url("/images/temple_hero.png") center center no-repeat;
  background-size: cover;
  height: 100vh; }
  .homepage img {
    position: absolute;
    left: 3rem;
    top: 3rem;
    width: 10rem; }

nav .nav-main-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 6rem; }
  nav .nav-main-icons .material-icons {
    margin-bottom: 1.5rem; }
nav .nav-account {
  position: absolute;
  bottom: 1.5rem; }

@keyframes expandClientList {
  from {
    height: 166px; }
  to {
    height: 100%; } }
@keyframes closeClientList {
  from {
    height: 100%; }
  to {
    height: 166px; } }
.search-clients {
  background-color: white;
  padding: 1.5rem 2rem;
  margin: 0 3rem;
  width: 600px;
  max-width: 600px;
  z-index: 1;
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05); }
  .search-clients.isOpen {
    animation-name: expandClientList;
    animation-duration: 0.5s;
    height: 100%; }
  .search-clients.isClosed {
    height: 166px;
    animation-name: closeClientList;
    animation-duration: 0.5s; }
  .search-clients .spacer-bar {
    font-size: .75rem; }
  .search-clients input {
    width: 100%;
    margin-right: 16px; }

.client-card {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  padding: 1.25rem 2rem;
  margin-bottom: 1rem; }

.client-presentation-list {
  width: 100%; }
  .client-presentation-list h2 {
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
