nav {
  .nav-main-icons {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;

    top: 6rem;

    .material-icons {
      margin-bottom: 1.5rem;
    }
  }

  .nav-account {
    position: absolute;
    bottom: 1.5rem;
  }
}
