<nav class="text-white d-flex align-items-center flex-column">
    <div class="nav-main-icons">
        <span class="material-icons">home</span>
    </div>
    <span class="material-icons nav-account">account_circle</span>
</nav>