.page-contents {
  position: relative;
  width: calc(100vw - 48px);

  h1, h2, h3, h4, h5, p {
    font-family: Arial;
    color: $font-colour;
  }

  h1 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
  }

  a {
    color: $lgim-link-blue !important;
    font-size: .75rem;
    &:hover {
      cursor: pointer;
    }
  }

  input {
    height: 36px;
    border: solid 1px #C4CDD5;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(102, 113, 123, 0.20), inset 0 1px 2px 0 rgba(102, 113, 123, 0.21);
  }

  .lgim-button {
    color: white;
    background: linear-gradient(#0099CC, $lgim-teal-blue);
    border: solid 1px $lgim-teal-blue;
    border-radius: 3px;
    padding: 8px 17px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);

    &:hover {
      cursor: pointer;
    }

    &:active {
      background: $lgim-teal-blue !important;
      background-color: $lgim-teal-blue !important;
      border-color: $lgim-dark-blue !important;;

      box-shadow: inset 0 2px 1px 0 rgba($lgim-royal-blue, 0.54) !important;
    }

    &:focus {
      box-shadow: 0 0 0 0;
      outline: none !important;
    }

    &:hover {
      background: linear-gradient($lgim-teal-blue, $lgim-dark-blue);
      border-color: #3E4BB1;
    }
  }
}

body {
  display: flex;
}

nav {
  height: 100vh;
  width: 3rem;
  background: $lgim-black;

}