<div class="search-clients">
    <h1>Search a client</h1>
    <div class="d-flex flex-row mb-4">
        <input type="text">
        <button class="lgim-button button-large">Search</button>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-end text-uppercase">
        <a class="mr-2"><b>Create</b> new</a>
        <span class="spacer-bar">&#x7c;</span>
        <a onclick="toggleClientList()" class="show-client-list float-right ml-2"><b class="client-list-status">Show</b>
            client list</a>
    </div>

    <div class="client-card-list mt-3 d-none">
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
        {% include Homepage/client-card/_client-card.html %}
    </div>
</div>

<script>
    function toggleClientList() {
        var el = document.querySelector(".search-clients");
        var clientListStatus = document.querySelector(".client-list-status");
        var clientCardList = document.querySelector(".client-card-list");

        if (el.classList.contains("isOpen")) {

            el.classList.remove("isOpen");
            el.classList.add("isClosed");

            clientCardList.classList.add("d-none");

            clientListStatus.innerHTML = "Show";
        } else {

            el.classList.remove("isClosed");
            el.classList.add("isOpen");

            clientCardList.classList.remove("d-none");

            clientListStatus.innerHTML = "Hide";
        }
    }
</script>