@keyframes expandClientList {
  from {
    height: 166px;
  }
  to {
    height: 100%;
  }
}

@keyframes closeClientList {
  from {
    height: 100%;
  }
  to {
    height: 166px;
  }
}

.search-clients {
  &.isOpen {
    animation-name: expandClientList;
    animation-duration: 0.5s;
    height: 100%;
  }

  &.isClosed {
    height: 166px;
    animation-name: closeClientList;
    animation-duration: 0.5s;
  }

  .spacer-bar {
    font-size: .75rem;
  }

  background-color: white;
  padding: 1.5rem 2rem;
  margin: 0 3rem;
  width: 600px;
  max-width: 600px;
  z-index: 1;

  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba($lgim-grey, 0.15), 0 0 0 1px rgba($lgim-grey, 0.05);

  input {
    width: 100%;
    margin-right: 16px;
  }
}

