.client-card {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba($lgim-grey, 0.05), 0 1px 3px 0 rgba($lgim-grey, 0.15);
  padding: 1.25rem 2rem;
  margin-bottom: 1rem;
}

.client-presentation-list {
  width: 100%;

  h2 {
    text-transform: uppercase;
  }
}