<div class="client-card">
    <h1>Liverpool Victoria</h1>
    <table class="client-presentation-list">
        <tr>
            <td>
                <h2>Presentations</h2>
            </td>
            <td>
                <h2>Date Created</h2>
            </td>
        </tr>
        <tr>
            <td>
                <a>Lorem Ipsum Dolor Sit Amet</a>
            </td>
            <td>
                <a>21/08/2018</a>
            </td>
        </tr>
    </table>
</div>